# tex repo
/bin/tex-template/*
/bin/tex-template/

# emacs non-essentials
/.emacs.d/elpa/*
/.emacs.d/backups/*
/.emacs.d/projectile-bookmarks.eld
/.emacs.d/auto-save-list/*
/.emacs.d/recentf
/.emacs.d/tramp
/.emacs.d/ido.last
/.emacs.d/session.*

/.guayadeque/cache.db
/.guayadeque/Collections

# emacs backups
.\#*
.\#*\#
\#*