! URxvt settings
URxvt.termName:                rxvt-unicode
! Careful! Setting this to screen-256color made your home and
! end keys do all sorts of wonky stuff! (TERM env variable)
! https://wiki.archlinux.org/index.php/Home_and_End_keys_not_working
URxvt*geometry:                120x35
URxvt.depth:                   32
! Transparency edit in brackets
URxvt.background:              [99]#402f41
URxvt.foreground:              white
URxvt.cursorColor:             #55dd55
URxvt.highlightColor:          #33bb33
URxvt.scrollBar:               false
URxvt.mouseWheelScrollPage:    true
URxvt.cursorBlink:             true
URxvt.saveLines:               3000
!URxvt.font:                    xft:terminus:size=12
URxvt.font:                    xft:vl gothic:size=12
URvt.fontbold:                 xft:vl gothic bold:size=12
URxvt.fading:                  33
URxvt.letterSpace:             +2

URxvt.perl-ext-common: resize-font,url-select,keyboard-select,clipboard
URxvt.url-select.launcher: google-chrome
! URxvt.keysym.C-Escape: perl:keyboard-select:activate
! www.google.com

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.button: 1
URxvt.keysym.C-Down:    resize-font:smaller
URxvt.keysym.C-Up:      resize-font:bigger

Xft.dpi:          96
Xft.antialias:    true
Xft.hinting:      full

!xterm.metaSendsEscape: true


! special
*.foreground:   #a39e9b
*.background:   #2f1e2e
*.cursorColor:  #a39e9b

! black
*.color0:       #2f1e2e
*.color8:       #776e71

! red
*.color1:       #ef6155
*.color9:       #ef6155

! green
*.color2:       #48b685
*.color10:      #48b685

! yellow
*.color3:       #fec418
*.color11:      #fec418

! blue
*.color4:       #06b6ef
*.color12:      #06b6ef

! magenta
*.color5:       #815ba4
*.color13:      #815ba4

! cyan
*.color6:       #5bc4bf
*.color14:      #5bc4bf

! white
*.color7:       #a39e9b
*.color15:      #e7e9db
